<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Capilla Marin | Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/styles/styles_new_post.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico"> 
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <p class="navbar-brand">Capilla Marín - Admin</p>
        </nav>
        <a href="/admin/homilias" class="back-link">Atrás</a>
        <div class="container">
            <h1 class="new-novedad-h1">Cargar Homilía</h1>
            <div class="new-form-container">
                <form class="new-form" id="new-audio-form">
                    <input type="text" name="audio-title"  id="audio-title-id" class="title form-control new-form-input" placeholder="Título" required>
                    <br>
                    <input type="file" name="fileName" id="audio-file-id" class="new-form-input form-control-file"  accept="audio/*" required>
                    <br>
                    <div class="new-form-input">
                        <label for="audio-date-id">Fecha de la Homilía:</label>
                        <input type="date" name="audio-date" id="audio-date-id" class="form-control" placeholder="dd/mm/aaaa" required>
                    </div>
                    <br>
                    <button type="submit" id="submit-audio-upload" class="btn btn-md btn-primary"><i class="fas fa-plus"></i>Cargar</button>
                    <button class="btn btn-primary" id="loading-audio-btn" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Cargando...
                    </button>
                </form> 
            </div>
            
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/assets/js/upload-post.js"></script>
    </body>
</html>