<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Capilla Marin | Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/styles/styles_new_post.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico"> 
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <p class="navbar-brand">Capilla Marín - Admin</p>
        </nav>
        <a href="/admin/posts" class="back-link">Atrás</a>
        <div class="container">
            <h1 class="new-novedad-h1">Crear Novedad</h1>
            <div class="new-form-container">
                <form class="new-form" id="new-post-form">
                    <select class="form-control new-form-input" id="post-section-id" name="Seleccionar Categoría" autofocus required>
                        <option value="default">Seleccionar categoría</option>
                        <option value="Nosotros">Nosotros</option>
                        <option value="Matrimonios">|Serv para la Com.| Matrimonios</option>
                        <option value="Cursos Prematrimoniales">|Serv para la Com.| Cursos Prematrimoniales</option>
                        <option value="Bautismos">|Serv para la Com.| Bautismos</option>
                        <option value="Reconciliaciones y Charlas">|Serv para la Com.| Reconciliaciones y Charlas</option>
                        <option value="Visitas a Enfermos">|Serv para la Com.| Visitas a enfermos</option>
                        <option value="Adoración">|Espiritualidad| Adoración</option>
                        <option value="Liturgia y Espiritualidad">|Espiritualidad| Liturgia y Espiritualidad</option>
                        <option value="Ministros">|Espiritualidad| Ministros</option>
                        <option value="Coro">|Espiritualidad| Coro</option>
                        <option value="Meditacion Cristiana">|Espiritualidad| Meditación Cristiana</option>
                        <option value="Circulos de Oracion">|Espiritualidad| Círculos de Oración</option>
                        <option value="VFyC">|Espiritualidad| VFyC</option>
                        <option value="Entretiempo">|Retiros| Entretiempo</option>
                        <option value="Oportunidad">|Retiros| Oportunidad</option>
                        <option value="Comunitarios">|Retiros| Comunitarios</option>
                        <option value="Confirmacion">|Jovenes| Confirmación</option>
                        <option value="Post Confirmacion">|Jovenes| Post Confirmación</option>
                        <option value="Mision">|Jovenes| Misión</option>
                        <option value="Caritas">|Inic. Solidarias| Cáritas</option>
                        <option value="Proyectos Comunidad">|Inic. Solidarias| Proyectos Comunidad</option>
                    </select>
                    <br>
                    <input type="text" name="title" placeholder="Título" id="post-title-id" class="title form-control new-form-input" required>
                    <br>
                    <input type="file" id="post-file-id" class="new-form-input form-control-file" name="fileName" accept="image/*" required>
                    <br>
                    <br>
                    <textarea placeholder="Escribir novedad..." name="body" id="post-body-id" class="form-control new-form-input" required></textarea> 
                    <br>
                    <button type="submit" id="submit-post-upload" class="btn btn-md btn-primary"><i class="fas fa-plus"></i>Crear</button>
                    <button class="btn btn-primary" id="loading-btn" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Cargando...
                    </button>
                </form> 
            </div>
            
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/assets/js/upload-post.js"></script>
    </body>
</html>