/* GENERICO*/
.section-main-title{
    text-align: center;
    padding-top: 115px;
    padding-bottom: 30px;
}
.center-carousel{
    text-align: center;

}
.section-carousel img{
   width: 100% !important;
}

@media (min-width: 576px){
    .jumbotron {
        padding: 2rem;
    }
}

.jumbotron{
    margin-top: 20px;
}

.section-post-card{
    margin-top: 10px;
}

.section-post-card:hover{
    cursor: pointer;
}

.section-posts-list-title{
    text-align: center;
    margin-bottom: 25px;
}

.section-post-img{
    margin-bottom: 12px;
    max-width: 350px;
}

@media (max-width: 576px){
    .section-post-img {
        max-width: 200px;
    }
}


/* NOSOTROS */
.organigrama-center{
    text-align: center;
}

.organigrama{
    width: 80%;
    max-width: 400px;
}

#nosotrosCarouselControl{
    margin-bottom: 15px;
}

/* MATRIMONIOS */

.matrimonios-requisitos-modal-body{
    padding: 15px;
}
