/* GENERICO*/
.section-main-title{
    text-align: center;
    padding-top: 115px;
    padding-bottom: 30px;
    margin: auto;
    font-size: 3vw;
    text-transform: uppercase;
}
.center-carousel{
    text-align: center;

}
.section-carousel img{
   width: 100% !important;
}

.carousel-icon-dark{
    background-color: rgb(46, 46, 46) !important;
    padding: 20px;
}


.colecta-alias{
    color: #76323F;
    font-weight: bold;
    font-size: 20px;
}

.muchas-gracias__container{
    margin: auto !important;
}

.colecta__muchas-gracias{
    background-color: #76323F;
    border-radius: 50%;
    max-width: 100px;
    margin: auto;
    height: 100px;
    color: #ffffff;
    text-align: center;
    padding-top: 6px;
}

.colecta__muchas-gracias p{
    margin-top: 20px;
}

@media(max-width: 991px){
    .colecta__muchas-gracias{
        margin-bottom: 30px;
    }
}

@media (min-width: 576px){
    .jumbotron {
        padding: 2rem;
    }

}

.jumbotron{
    margin-top: 20px;
}

.section-post-card{
    margin-top: 10px;
}

.section-posts-list-title{
    text-align: center;
    margin-bottom: 25px;
}

.section-post-img{
    margin-bottom: 12px;
    max-width: 350px;
}

@media (max-width: 576px){
    .section-post-img {
        max-width: 200px;
    }

}

@media (max-width: 480px){
    .section-main-title{
        font-size: 8vw;
    }
}


/* NOSOTROS */
.organigrama-center{
    text-align: center;
}

.organigrama{
    width: 80%;
    max-width: 400px;
}

#nosotrosCarouselControl{
    margin-bottom: 15px;
}

/* MATRIMONIOS */

.matrimonios-requisitos-modal-body{
    padding: 15px;
}
