body{
    background-color:  rgb(240, 240, 240);
}

.back-link{
    padding: 20px;
}
.new-novedad-h1{
    margin-bottom: 20px;
}

.container{
    text-align: center;
}

.new-form-container{
    padding-bottom: 20px;
}

.new-form-input{
    width: 80%;
    margin: auto;
}

.upload{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

textarea.new-form-input{
    height: 200px;
    resize: none;
    
}

.btn{
    background-color: #1c79dd;
}

#loading-btn, #loading-edit-btn{
    text-align: center;
    margin: auto;
    display: none;
}

.fa-plus, .fa-pen, .fa-save{
    font-size: 0.85rem;
    margin-right: 6px;
}

@media (min-width: 767px) { 
    .new-form-input{
       width: 50%;
    }
}