<!DOCTYPE html>
<html lang="en">

<head>
    <title>Capilla Marin | Aletheia</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/styles_home.css" type="text/css">
    <link rel="stylesheet" href="/assets/styles/styles_section.css" type="text/css">
    <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/assets/img/logo.png" alt="marin-logo" class="logo-img"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/nosotros" class="nav-link">Nosotros</a>
                </li>
                <li class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink_1" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicios para la comunidad
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_1">
                        <a class="dropdown-item" href="/servicios-para-la-comunidad/matrimonios">Matrimonios</a>
                        <a class="dropdown-item" href="/servicios-para-la-comunidad/cursos-prematrimoniales">Cursos
                            Prematrimoniales</a>
                        <a class="dropdown-item" href="/servicios-para-la-comunidad/bautismos">Bautismos</a>
                        <a class="dropdown-item"
                            href="/servicios-para-la-comunidad/reconciliaciones-y-charlas-espirituales">Reconciliaciones
                            y charlas espirituales</a>
                        <a class="dropdown-item" href="/servicios-para-la-comunidad/visitas-a-enfermos">Visitas a
                            enfermos</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink_2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Espiritualidad
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_2">
                        <a class="dropdown-item" href="/espiritualidad/adoracion">Adoración</a>
                        <a class="dropdown-item" href="/espiritualidad/liturgia-y-espiritualidad">Liturgia y
                            Espiritualidad</a>
                        <a class="dropdown-item" href="/espiritualidad/ministros">Ministros</a>
                        <a class="dropdown-item" href="/espiritualidad/coro">Coro</a>
                        <a class="dropdown-item" href="/espiritualidad/aletheia">Aletheia</a>
                        <a class="dropdown-item" href="/espiritualidad/meditacion-cristiana">Meditación Cristiana</a>
                        <a class="dropdown-item" href="/espiritualidad/circulos-de-oracion">Círculos de Oración</a>
                        <a class="dropdown-item" href="/espiritualidad/ciclos-de-conferencias-vida-fe-y-cultura">Cíclos
                            de conferencias Vida, Fe y Cultura</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink_3" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Retiros
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_3">
                        <a class="dropdown-item" href="/retiros/entretiempo">Entretiempo</a>
                        <a class="dropdown-item" href="/retiros/oportunidad">Oportunidad</a>
                        <a class="dropdown-item" href="/retiros/retiros-comunitarios">Retiros Comunitarios</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink_4" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Jóvenes
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_4">
                        <a class="dropdown-item" href="/jovenes/confirmacion">Confirmación</a>
                        <a class="dropdown-item" href="/jovenes/post-confirmacion">Post Confirmación</a>
                        <a class="dropdown-item" href="/jovenes/mision">Misión</a>
                        <a class="dropdown-item" href="/espiritualidad/aletheia">Universitarios</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink_5" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Iniciativas Solidarias
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_5">
                        <a class="dropdown-item" href="/iniciativas-solidarias/caritas">Cáritas</a>
                        <a class="dropdown-item" href="/iniciativas-solidarias/proyectos-de-la-comunidad">Proyectos de
                            la Comunidad</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="section-main-title">Aletheia</h1>
        <div class=row>
            <div class="col-lg-6">
                <p class="section-main-text">
                    Convoca a todos los jóvenes en edad universitaria a profundizar su espiritualidad y actualizar su
                    formación
                    intelectual y religiosa a través de un ciclo quincenal de conferencias donde nos visitan filósofos,
                    teólogos,
                    psicólogos y especialistas en diversos temas como economía, política, arte, cultura, etc.
                    Estas conferencias se alternan con encuentros complementarios y optativos de “grupos de vida”, al
                    modo de pequeñas
                    comunidades donde se reza juntos según el método de oración contemplativa.
                </p>
                <h5>Contacto:</h5>
                <p>011 4743-0028 (int. 312)</p>
                <p>infocapilla@marin.edu.ar</p>
            </div>
            <div class="col-lg-6">
                <div id="aletheiaCarouselControl" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/assets/img/aletheia/aletheia-1.jpg" class="d-block w-100" alt="aletheia-1">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/img/aletheia/aletheia-2.jpg" class="d-block w-100" alt="aletheia-2">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/img/aletheia/aletheia-3.jpg" class="d-block w-100" alt="aletheia-3">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#aletheiaCarouselControl" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#aletheiaCarouselControl" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>